@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/*FONTS*/

@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/arima-v7-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/palanquin-v17-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/palanquin-dark-v17-latin-regular.woff2') format('woff2');
}


/* BASE TYPOGRAPHY*/

body {
    font-family: 'Palanquin';
    color: var(--color-font-main);
    line-height: 1;
}


/* HEADINGS */


h1 {
    font-family: 'Arima';
    font-size: 64px;

}

h2 {
    font-family: 'Arima';
    font-size: 60px;
    

}

h3 {
    font-family: 'Arima' ;
    font-size: 52px;
    color: var(--color-primary)
   
}

h4 {
    font-family: 'Palanquin Dark';
    font-size: 48px;
}

h5 {
    font-family: 'Arima' ;
    font-size: 32px;
    color: #54370D;
}

h6 {
    font-size: 16px;
    font-family: 'Arima' ;
}


/*TEXT*/


p {
    font-size: 24px;
    line-height: 110%;
    
}



/*LINKS & LISTS */

a {
    color: white;
    text-decoration: none;
   
}

li {
    font-family: 'Palanquin';
    font-size: 24px;
}

ul a:visited{
    color: var(--color-primary);
}

ul>li:nth-child(1) :hover {
color: var(white) !important;
background-image: url(./icon/hover.svg);
background-repeat: no-repeat;
background-size: 100% 50%;
background-position: bottom;
padding: 0 5px 0 0;
}



ul>li:nth-child(2) :hover {
color: var(white) !important;
background-image: url(./icon/hover2.svg);
background-repeat: no-repeat;
background-size: 100% 50%;
background-position: bottom;
padding: 0 0 0 0;
}


ul>li:nth-child(3) :hover {
color: var(white) !important;
background-image: url(./icon/hover3.svg);
background-repeat: no-repeat;
background-size: 100% 50%;
background-position: bottom;
padding: 0 0 0 5px;
}

.nav-main a {
    color: var(--color-nav);
    transition: var(--transition-normal);
}


@media screen and (min-width: 769px) and (max-width: 1300px)
{}


@media screen and (min-width: 320px) and (max-width: 768px)
{

h1 {
    font-family: 'Arima';
    font-size: 64px;

}

h2 {
    font-family: 'Arima';
    font-size: 60px;
    

}

h3 {
    font-family: 'Arima' ;
    font-size: 40px;
    color: var(--color-primary)
   
}

h4 {
    font-family: 'Palanquin Dark';
    font-size: 28px;
}

h5 {
    font-family: 'Arima' ;
    font-size: 20px;
}

h6 {
    font-size: 16px;
    font-family: 'Arima' ;
}

li {
    font-size: 16px;
}


/*TEXT*/


p {
    font-size: 20px;
    line-height: 110%;
    
}


}