/* !!!WICHTRIGER HINWEIß !!! RICHTET EIN EXTRA STYLESHEET FÜR DIE NAV UND FOOTER 
ICH GLAUBE WIR SOLLTEN ALLE DEN STYLE.CSS UMBENENNEN WEGEN ÜBERSCHNEIDUNGEN UND VERLINKUNG */


 /* das ist der nav Jungs :) */

.footer-mobile{
    display: none;
}

.burger-menu {
    display: none;
}

.nav-bar {
    height: 128px;
display: flex;
align-items: center;
padding: 32px 146px;
background-color: var(--color-primary);
justify-content: flex-start;
}

.logo {
padding: 0 100px;
}

.nav-main ul {
display: flex;
list-style: none;
gap: var(--spacing-xl);
padding: 0;
}

.nav-main ul li a {
color: var(--color-nav);
text-decoration: none;
}

/* und hier ist der footer */

.footer-main {
background-color: var(--color-primary);
display: flex;
justify-content: space-between;
align-items: center;
padding: 60px 120px;
}

.footer-left a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-left {
color: white;
display: flex;
gap: var(--spacing-xl);
height: 20px;
}

.footer-left div {
margin-right: -66px;
}

.footer-right {
display: flex;
gap: var(--spacing-sm);
}

/* Responsive-beta (um content begrenzung zu testen */

@media screen and (min-width: 1920px) {

.nav-bar {
    padding: 0 max(calc(50% - 720px));
    height: 128px;
}

.footer-main {
    padding: 0 max(calc(50% - 720px));
    height: 128px;
}
}

.logo {
    padding: 0 100px 0 0;
}







@media screen and (min-width: 601px) and (max-width: 768px){

.nav-main{
    display: none;
}

.burger-menu {
    display: block;
    margin-left: auto;
}

.logo{
    padding: 0;
   
}


.logo img {
    padding: 5px 0;
 height: 58px;
    width: 58px;

}

.nav-bar{
    height: 70px;
   width: 100%;
   max-width: 991px;
    left: 0;
    top: 0;
   position: fixed;
    justify-content: center;
    align-items: center;
   
    z-index: 100;
}

.footer-main{
    height: 134px;
    padding: 60px 23px; 
}

.footer-left{
    flex-direction: column-reverse;
    gap: var(--spacing-xs);
    justify-content: center;
    
}

.footer-left a {
    width: 147px;
}

.footer-left div{
   display: flex;
   align-items: center;
}

.footer-right{
padding: 46px 0 0 8px;

}

.footer-right img{

    width: 33px;
    height: 24px;
}

.footer-mobile{
    width: 100%;
    display: flex;
    background-color: var(--color-secondary);
    height: 88px;
    position: sticky;
    align-items: center;
    bottom: 0;
    z-index: 99;
    padding: 48px 0 48px 0;
}

.mobile-content{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;   

}

}

@media screen and (min-width: 320px) and (max-width: 600px) {
   .nav-main{
    display: none;
  }

  .burger-menu {
    display: block;
    margin-left: auto;
}

  .nav-bar{
    height: 70px;
   width: 100%;

    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
   
    z-index: 100;
}

  .footer-right img{

    width: 28px;
    height: 22px;
}

.logo{
    padding: 0;
   
}

.logo img {
    padding: 5px 0;
 height: 58px;
    width: 58px;

}

  .footer-left{
    flex-direction: column-reverse;
    gap: var(--spacing-xs);
    justify-content: center; 
}

  .footer-right{
    padding: 46px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .footer-main {
    padding: 40px 10px;
 }

 .footer-mobile{
    width: 100%;
    display: flex;
    background-color: var(--color-secondary);
    height: 88px;
    position: sticky; 
    align-items: center;
    bottom: 0;
    z-index: 99;
    padding: 48px 0 48px 0;
}

.mobile-content{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;   

}

}