* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    height: 100dvh;
    overflow-x: hidden;
}


/* Impressum */

.impressum {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.impressum-article {
    flex: 1;
}

/* Datenschutz */

.datenschutz {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .datenschutz {
        margin-top: 60px;
    }
}