*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
height: 100dvh;
overflow-x: hidden;
}


/* Impressum */

.impressum {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.impressum-article {
    flex:1;
}