
article {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto;
    gap: 1rem;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
}

.article-header {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
}

.article-header h1 {
    color: #f1c953;
    margin-bottom: 18px;
}

.article-description {
    color: var(--color-font-main);
    font-size: 1.75rem;
    max-width: 900px;
    line-height: 110%;
    margin-bottom: 36px;
}

.article-subtitle{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.article-meta {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.article-meta span {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1;
    color: var(--color-font-main);
}

.article-intro {
    font-weight: 400;
    line-height: 120%;
    color: #3D3D3D;
    margin-top: 40px;
    grid-column: 1 / -1;
    grid-row: 2;
    max-width: 1200px;   
}

.author-card {
    background-color: var(--color-link);
    border-radius: 30px;
    grid-column: 2;
    grid-row: 1;
    padding: 1rem;
    text-align: center;
    width: 280px;
    align-self: start;
}

.author-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.author-card h6 {
    font-size: 18px;
    gap: 8x;
    font-weight: 700;
}

.author-role {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
    font-family: 'Arima' ;
    text-align: center;
}

.author-bio {
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    text-align: start;
    max-width: 1440px;
}

.container {
    width: 760px;
    margin: 0 auto;
    padding: 35px 40px 60px;
}

.text-block {
    margin-bottom: 40px;
}

.text-block p {
    font-size: 24px;
    color: #3D3D3D;
}

h5 {
    text-align: center;
    margin-bottom: 18px;
}

.image-card-top {
    max-width: 640px;
    margin: 0 auto 45px;
    box-shadow: -2px 4px 11.6px rgb(0 0 0 / 25%);
    border-radius: 53px;
    max-height: 436px;

}

.image-card-top img {
    width: 640px;
    display: block;
}

.image-card-left,
.image-card-right {
    width: 100%;
    max-width: 519px;
    height: 471px;
    border-radius: 53px;
    overflow: hidden;
    box-shadow: -2px 4px 11.6px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.image-card-left img,
.image-card-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.two-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 519px));
    justify-content: center;
    gap: 35px;
}

.column p {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: justify;
}

.article {
    font-size: 24px;
    line-height: 120%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    color: #3D3D3D;
    padding: 2rem;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px auto 50px auto;
    max-width: 500px;
}

.share-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 8px;
}

.share p {
    position: relative;
    text-align: center;
    font-family: 'Arima';
    font-weight: 500;
    top: -80px;
    margin-left: 60px;
}

.share-arrow {
    position: absolute;
    left: -120px; 
    bottom: 30px;
    width: 100px;
}

.share button {
    position: relative;
    top: -30px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    font-family: 'Arima';
    max-height: 48px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 40px;
    padding: 10px 24px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: var(--transition-normal);
}

.share button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 15px var(--color-primary);
}
