 * {
    margin: 0px;
}

/* ARTICLE2 CSS  */

.nav-main a {
    color: var(--color-nav);
    transition: var(--transition-normal);
}

.nav-main a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
    text-shadow: 0 0 15px var(--color-summary);
}

article {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto;
    gap: 44px;
    padding: 0 max(calc(50% - 600px), 24px);
  
    margin-top: 48px;
}

.article-header {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
}

.article-header h1 {
    color: #f1c953;
    margin-bottom: 18px;
}

.article-description {
    color: var(--color-font-main);
    font-size: 1.75rem;
    max-width: 900px;
    line-height: 110%;
    margin-bottom: 36px;
}

.article-subtitle{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 8px;
}

.article-meta {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.article-meta span {
    display: flex;
    align-items: center;
    width: auto;
    gap: 6px;
    font-size:1rem;
    color: var(--color-font-main);
}

.article-intro {
    font-weight: 400;
    line-height: 120%;
    color: #3D3D3D;
    grid-column: 1 / -1;
    grid-row: 2;
    max-width: 1200px; 
}

.author-card {
    background-color: var(--color-link);
    border-radius: 30px;
    grid-column: 2;
    grid-row: 1;
    padding: 1rem;
    text-align: center;
    width: 280px;
    align-self: start;
    margin-right: 40px;
}

.author-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px; 
}

.author-card h6 {
    font-size: 18px;
    gap: 8px;
    font-weight: 700;
}

.author-role {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
    font-family: 'Arima' ;
    text-align: center;
}

.author-bio {
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    text-align: start;
    max-width: 1440px;
}

#media video{
    width: 930px;
    height: 520px;
    border-radius: 50px;
    display: block;
    gap: 10px;
    transition: var(--transition-normal);
    border: 2px solid transparent;
    /* margin-left: 100px; */
}

#media video:hover {
    transform: scale(0.95);
    transform: translateY(-10px);
    box-shadow: 5px 5px 30px var(--color-secondary);
}

#media {
    display: flex;
    justify-content: center;
    padding: 88px max(calc(50% - 445px), 24px);
}

.article-content{
    padding: 0 max(calc(50% - 600px), 24px);
}

.article-content p {
    font-size: 24px;
    line-height: 120%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    color: #3D3D3D;
}

.article-content .list-intro {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.article-content ul {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1rem 0 3.5rem;
    color: #3D3D3D;
}

.article-content ul li::marker {
    font-size: 14px;
    align-items: center;
}

.article-content .list-outro{
    margin-top: 32px;
    margin-bottom: 32px;
}

.pro-tipps {
    display: flex;
    justify-content: center;
    padding: 20px 88px;
    position: relative; 
    margin-top: 100px;
}

.pro-tipps-header {
    margin-right: -216px;
    position: relative;
    max-width: 196px;
    min-width: 195px;
    width: 195px;
    height: 66px;
    top: -50px;
    left:-52px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 4px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    transform: rotate(-15deg);
}

.pro-tipps-header img {
    width: 40px;
}

.pro-tipps-list {
    max-width: 1083px;
    padding: 26px 16px;
    background-color: #4EA48733;
    padding-top: 30px;
    border-radius: 30px;
}

.pro-tipps-list ol {
    color: #3D3D3D;
}

.pro-tipps-list ol li {
    font-weight:400;
}

.useful-link {
    color: var(--color-primary);
    font-weight: 700;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px auto 50px auto;
    max-width: 500px;
}
 
.share-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 8px;
}

.share p {
    position: relative;
    text-align: center;
    font-family: 'Arima';
    font-weight: 500;
    top: -80px;
    margin-left: 60px;
}

.share-arrow {
    position: absolute;
    left: -120px; 
    bottom: 30px;
    width: 100px;
}

.share button {
    position: relative;
    top: -30px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    font-family: 'Arima';
    max-height: 48px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 40px;
    padding: 10px 24px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: var(--transition-normal);
}

.share button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 15px var(--color-primary);
}

.icon-hover {
    display: none;
    width: 32px;
}

.share button:hover .icon-default {
    display: none;
}

.share button:hover .icon-hover {
    display: inline-block;
    width: 25px !important;
    height: 25px !important;
}

.share button img {
    width: 32px;
}

@media screen and (min-width: 1920px) {
    
    article{
        padding: 0 max(calc(50% - 600px), 24px);
    } 

    .article-content{
        padding: 0 max(calc(50% - 600px), 24px);
    }

    #media{
        padding: 88px max(calc(50% - 445px), 24px);
    }

}

@media screen and (max-width: 1230px){
    .pro-tipps {
        margin: 100px 0 60px 0;
        padding: 20px 64px;
    }
}

@media screen and (max-width: 1050px){
    article {
        padding-left: 24px;
        padding-right: 24px;
    }
    .article-subtitle{
        font-size: 2rem;
    }

    .article-header h1 {
        font-size: 3.5rem;
    }

    .article-description {
        font-size: 1.5rem;
    }

    .article-intro {
        font-size: 1.5rem;
    }

    .article-content {
        margin-left: 0;
        margin-right: 0;
    }

    #media {
        padding: 88px 68px;
    }

    #media video {
        width: 100%;
        height: 420px;
    }
}

@media screen and (max-width: 900px){

    #media video{
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    #media video{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    body {
        padding-bottom: 130px;
    }
    article {
        grid-template-columns: 1fr;
        margin-top: 100px; 
         gap:var(--spacing-sm);  
    }

    .article-header {
        width: 100%;
        margin: 0;
        grid-column: 1;
    }

    .author-card {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        margin: 0;
        align-self: center;
        justify-self: center;
    }

    .article-intro {
        grid-column: 1;
        grid-row: 3;
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .article-subtitle {
        font-size: 20px;
    }

    .article-header h1 {
        font-size: 40px;
    }

    .article-description {
        font-size: 18px;
        margin-bottom: 28px;
    }

    .article-meta {
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 16px;
    }

    .article-meta span {
        font-size: 1rem;
        width: 45%;
    }

    .article-intro {
        font-size: 16px;
    }

    #media {
        margin: 24px auto;
    }

    #media video {
        width: 100%;
        height: 320px;
    }
    
    .article-content p {
        font-size: 16px;
    }

    .article-content .list-intro {
        font-size: 16px;
    }

    .article-content ul li {
        font-size: 16px;
    }

    .article-content ul li::marker {
        font-size: 12px;
    }

    .article-content .list-outro {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .pro-tipps{
        padding: 20px 64px;
    }

    .pro-tipps-list ol li {
        font-size: 16px;
    }

    .share{
        margin-bottom: 0;

    }

    .share p {
        font-size: 18px;
        margin-left: 0;
        top: -150px;
    }

    .share-arrow {
        bottom: 130px;
        width: 50px;
        height: 30px;
        transform: rotate(35deg);
    }

    .share button {
        top: -100px;
    }

}

@media screen and (max-width: 680px) {
    #media video {
        width: 100%;
        height: 300px;
        margin-top: 0;
    }

    .pro-tipps {
        margin: 88px 0 0 0;
        padding: 20px 42px;
    }

    .pro-tipps-header{
        top: -60px;
        left: -12px;
    }

    .share p {
        position: static;
        top: 0;
        margin-left: 0;
    }

    .share {
        margin: 30px 85px 100px 85px;
    }

    .share button {
        top: 20px;
        right: 20px;
    }

    .share-arrow {
        top: 15px;
    }
}

@media screen and (max-width: 640px) {
    .author-card {
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    #media video {
        width: 100%;
        height: 200px;
    }

    #media{
        padding: 24px;
    }
}

@media screen and (max-width: 530px) {
    .author-card {
        margin-right: 0;
    }

}

@media screen and (max-width: 500px) {
    #media video {
        margin-right: 0;
    }

    #media {
        margin-left: 0;
    }

    .author-card {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .share-arrow {
        left: -60px;
    }

    .share {
        margin: 80px 0 100px 0;
    }
}

@media screen and (max-width: 390px) {

     #media video {
        width: 100%;
        height: 170px;
     }


     @media screen and (max-width: 350px){
     .share {
        margin: 0px 50px 50px 50px;
     }

     .article-intro{
        margin:0;
     }

     #media video{
        margin: 0;
        width: 100%;
     }
     }
}
