.head {
    width: 100%;
}

.head-img {
    position: relative;
    width: 100%;
    height: 547px;
}

.head-img-right {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 515px;

    background-image: url(./img/Header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    animation: brain-fu-two 5s ease-in-out; 
}


@keyframes brain-fu-two {
0%{ transform: translatex(500px) rotate(0deg) scale(0);}
25%{ transform: translatex(600px) rotate(0deg) scaley(1) ;}
75%{ transform:  translatex(400px) rotate(0deg) scaley(1);}
100% { transform: translatex(0px) rotate(0deg) scale(1);}


}


.head-img-left {
    position: absolute;
    z-index: 2;

    width: 647px;
    height: 541px;

    background-image: url(./icon/txt.svg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;

    padding-left: 104px;
 overflow: hidden;
    animation: brain-fu 5s ease-in-out forwards;

}

@keyframes brain-fu {
0%{ transform: translatex(500px) rotate(0deg) scale(2);}
25%{ transform: translatex(600px) rotate(0deg) scale(1);}
75%{ transform: translatex(400px) rotate(0deg) scale(1);}
100% { transform: translatex(0px) rotate(0deg) scale(1);}

}



.head-img-left article {
    max-width: 400px;
}

.head-img-left h2 {
    margin-bottom: 32px;
}

.head-img-left p {
    line-height: 110%;
}


.circle {
    position: absolute;
    z-index: 3;
    top: 280px;
left: 433px;
    animation: spin 20s linear infinite,
           vorher 5.5s linear, forwards
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
 
}


@keyframes vorher {

    0%{  transform: rotate(0deg)  translateY(-600px)  scale(10%);}
    25%{  transform: rotate(0deg) translateY(-400px)  scale(20%);}
    55%{  transform: rotate(0deg) translateY(200px)  scale(50%);}
80%{ transform: rotate(360deg) translate(0px) scale(1);}

to{  transform:  rotate(360deg) scale(1);}
}

main {
padding: 0 24px ;
}

.tabs {
display: flex;
align-items: center;
justify-content: center;
gap: var(--spacing-xs);
padding: 88px 0 24px 0;
}


figcaption a{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.txt-top {
text-align: center;
padding: 0 100px 88px 100px;
}

.txt-img {
width: 881px;
color: var(--color-font-secondary);
background-color: rgba(0, 0, 0, 0.247);
margin: 54px 0 0 38px;
padding: 8px;
}



.faq-container {
    font-size: 24px;
    margin-bottom: 32px;
    padding: 11px 14px 14px 16px;
    border-radius: var(--radius-sm);
    background-color: var(--color-secondary);
}

.faq-container input {
    display: none;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.faq-content p {
    padding: 5px 10px 10px 10px;
    background-color: var(--color-summary);
    text-align: center;
    border-radius: var(--radius-sm);
    font-size: 16px;
    margin-top: 10px;
}

.arrow {
    transition: transform 0.5s ease;
}

.faq-container input:checked + .faq-title + .faq-content {
    max-height: 500px;
    opacity: 1;
}

.faq-container input:checked + .faq-title .arrow {
    transform: rotate(180deg);
}



.contact {
    padding: 0 56px 88px 56px;
}

.contact-top {
    display: flex;
    gap: var(--spacing-md);
    padding: 0 0 17px 0;
}

.contact-txt,
textarea,
input,
p {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0 0 17px 0;
    outline: none;
}

.contact-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
     padding: 32px 0;
}

.contact-bottom p {
    
    padding: 0;
    font-size: 15px;
}

.checkbox {
    display: flex;

    gap: var(--spacing-xs);
}

.checkbox a {
    color: var(--color-primary);
}

.checkbox a:hover {
    text-decoration: underline;
    letter-spacing: 1px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    padding-top: 10px;
    outline: 1.5px solid black;
}

button {
    font-family: 'Arima';
    font-size: 24px;
    background-color: transparent;
    border-radius:var(--radius-md);
    padding: 0 24px;
    border: 1px solid gray;
}



.footer-mobile{
    display: none;
}

.burger-menu {
    display: none;
}

.burger-main {
    display: none;
}

.menu-toggle {
    display: none;
}

.nav-bar {
    height: 128px;
display: flex;
align-items: center;
padding: 32px 24px;
background-color: var(--color-primary);
justify-content: flex-start;
}

.logo {
padding: 0 100px;
}

.nav-main ul {
display: flex;
list-style: none;
gap: var(--spacing-xl);
padding: 0;
}

.nav-main ul li a {
color: var(--color-nav);
text-decoration: none;
}

/* und hier ist der footer */

.footer-main {
background-color: var(--color-primary);
display: flex;
justify-content: space-between;
align-items: center;
padding: 60px 120px;
}

.footer-left a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-left {
color: white;
display: flex;
gap: var(--spacing-xl);
height: 20px;
}

.footer-left div {
margin-right: -66px;
}

.footer-right {
display: flex;
gap: var(--spacing-sm);
}




@media screen and (min-width: 1920px) {
.head{
    padding: 0 max(calc(50% - 720px), 24px);
}


main {
    padding: 0 max(calc(50% - 600px), 24px);
}
}

@media screen and (min-width: 769px) and (max-width: 1000px) {

    .txt-img{
        width: 80%;
    }


}


@media screen and (min-width: 601px) and (max-width: 768px) {

.txt-img{
    width: 80%;
    margin: 54px 0 0 38px;;
}

.head-img-left{
height: 100%;
justify-content: flex-start;
background-size:482px;

width: 100%;
padding: 0 0 98px 46px;
}



.circle{
  top: 274px;
left: 260px;

}

}



@media screen and (min-width: 320px) and (max-width: 600px) {
.head-img-right{
background-position-x: 65%;

}

.txt-img{
    width: 90%;
    margin: 93px 14px 0 14px;;
}

.head-img-left{
    width: 100%;
height: 100%;
background-image: url(./icon/txt-repo.svg);
background-size: 222px 299px;
padding: 0;
}

.head-img-left article{
    display: none;
}

.txt-top{
    display: none;
}

.circle{
  top: 110px;
left: 70px;

}
.circle img{
    height: 160px;
width: 160px;
}


.faq-container{
    font-size: 16px;
}

.faq-container p {
    font-size: 16px;
}

.contact {
 padding: 0 0 32px 0;

}

.contact-top{
    display: contents;
}


}